
* {
    box-sizing: border-box;
}

html {
   height: 100%;

   font-family: 'Open Sans', sans-serif;

   --france-blue: #110606;
   --france-red: #110608;
}

body {
   min-height: 100%;
}

html, body {
    background-color: #C19960;
    width: 100%;
    margin: 0px;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: stretch;
    
    font-family: 'Montserrat';
    background-color: #333;
    color: #d3d3d3;

    transition: opacity 1s;
}

.nav, .nav .flag-link, .nav .flag, .nav .pages {
    height: 45px;
}

.nav h1 {
    margin: 0 6px;
    font-size: 17px;
    color: #d3d3d3;
}

.nav .pages {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nav .pages * {
    padding: 0px 10px;
}

.nav .pages > *:not(.more) {
    z-index: 5;
}

.nav .pages .fas {
    font-size: 22px;
    padding: 0 15px 0 10px;
}

.nav .more {
    position: absolute;
    right: 0;
    top: -100px;

    padding: 7px 14px;

    transition: top 0.3s;
    transition-delay: 0.2s;

    background-color: #333;
    
    display: flex;
    flex-direction: column;
}

.nav .fas:hover + .more, .nav .more:hover {
    top: 43px;
}

.nav .more a {
    text-align: right;
    padding: 4px 0;
    max-width: 185px;
    line-height: 1;
    z-index: 1000;
}

#link {
    color:blue;
}
