
.bg-hero.main {
    background-image: url('../img/3.png');
    background-position-x: center;
}

.bg-hero.intro {
    background-image: url('../img/1.jpg');
    background-position: center center;
}

.bg-hero.character {
    background-image: url('../img/7.jfif');
    background-position: center center;
}

.bg-hero.lines {
    background-image: url('../img/8.jfif');
    background-position: center center;
}

.bg-hero {
    height: 100vh;
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-hero * {
    margin: 15px;
    padding: 10px;

    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 800;
}

.bg-hero.intro a {
    border: 2px solid var(--france-blue);
    color: var(--france-blue);
}

.bg-hero.character a {
    border: 2px solid white;
    color: white;
}

.bg-hero.lines a {
    border: 2px solid var(--france-red);
    color: var(--france-red);
}

.nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
