
<a href="https://yahyaasmara.github.io/french-revolution/" class="flag-link"><img src="img/france.png" class="flag"></a>
<a href="https://yahyaasmara.github.io/french-revolution/">
    <h1>The French Revolution by Yahya Asmara</h1>
</a>
<div class="pages">
    <a href="overview.html">Overview</a>
    <a href="causes.html">Causes</a>
    <a href="timeline.html">Timeline</a>
    <a href="impacts.html">Impacts</a>
    <a href="americanrevolution.html">American Revolution</a>
    <i class="fas fa-angle-down"></i>

    <div class="more">
        <a href="people.html">People</a>
        <a href="brinton.html">Brinton's Model</a>
        <a href="sources.html">Sources</a>
    </div>
</div>
